.head{
    background-color: gray;
    width: 100%;
    height: 50px;
    align-content: center;
    padding-top: 20px;
}
.class, #ras {
    position: float;
    width: 49%;
    height: 50px;
    margin-left: 20%;
    text-size-adjust: 20px;
    word-spacing: 50px;
    font-size: 30px;
}
#Searchs{
    background-color: green;
    float: right;
    height: 50px;
    position: relative;
    margin-top: -70px;
    padding-top: 20px;
}
.image{
    margin-top: 3%;
    background-color: rgb(0, 0, 0);
    color: white;
    height: 500px;
    width: 100%;

}
h1{
    margin-top: -3%;
    font-size: 220px;
    margin-left: 50px;
}
#first, p:first-child {
    margin-top: -150px;
    margin-left: 50px;
}
.second {
    height: 90px;
    background-color: blue;
    opacity: 0.5;
    margin-top: 82px;
    padding-top: 10px;
    padding-left: 10px;
}
.second > p {
    margin-top: 20px;
    width: 60%;
}
.core{
    height: 345px;
    display: flex;
    background-color: rgb(219, 199, 171);
}
#form{
    padding-top: 10px;
    padding-left: 10px;
    width: 25%;
    height: 200px;
    display: flex;
    justify-content: center;
    word-spacing: 10px;
}
input {
    height: 40px;
    margin-bottom: 10px;
}
#center{
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    width: 45%;
    height: 500px;
    padding-top: 10px;
    flex: 50%;
    max-width: 50%;
}
#center, img{
    display: flex;
    width: 280px;
    height: 158px;
    object-fit: fill;
    margin-right: 30px;
    margin-bottom: 15px;
}
#right{
    margin-top: 10px;
    width: 20%;
    text-align: left;
    background-color: cyan;
}
#right, tr:first-child{
    text-align: center;
}
td,th{
    text-align: center;
    padding: 6px;
}
table{
    width: 100%;
}